<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- ROS 2 Control Hardware Interface -->
  <xacro:macro name="ros2_control">
    <ros2_control name="RALLP2" type="system">
      <hardware>
        <plugin>gazebo_ros2_control/GazeboSystem</plugin>
        <param name="robot_description">robot_description</param>
        <param name="robot_sim_type">DefaultRobotHWSim</param>
      </hardware>
      <joint name="fl_joint">
        <command_interface name="velocity"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
      <joint name="fr_joint">
        <command_interface name="velocity"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
      <joint name="rl_joint">
        <command_interface name="velocity"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
      <joint name="rr_joint">
        <command_interface name="velocity"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
    </ros2_control>

    <!-- Gazebo Plugin for ROS 2 Control -->
    <gazebo>
      <plugin name="gazebo_ros2_control" filename="libgazebo_ros2_control.so">
        <parameters>$(find rallp)/config/controllers.yaml</parameters>
      </plugin>
    </gazebo>
  </xacro:macro>

</robot>